* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.product {
  background: white;
  border-radius: 1rem;
}
i {
  cursor: pointer;
}
.message {
  border: 1px solid grey;
  color: grey;
  margin-top: 1rem;
  padding: 1rem;
}

.message.error {
  border-color: red;
  color: red;
}

.message.success {
  border-color: green;
  color: green;
}
.columns {
  flex-wrap: wrap !important;
}
